body {
  padding: 10px
}

button {
  margin: 5px;
}

#map {
  margin: 0px;
  padding: 10px;
  width:96%;
  height:400px;
}

#infoBox {
  float: left;
  border: 10px, black, solid
}

#autocompleteHome, #autocompleteWork, #username {
  width: 300px;
}

.titleBar {
  padding: 20px 10px;
  /* height: 50px; */
  /* display: flex; */
  overflow: hidden;
  width: 99%;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.login {
  right: 0px;
}
