<div>
  <form action="/" method="post" onsubmit="return false" novalidate>
    <div>Name:          <input id="username" placeholder="Name" type="text" ng-model="form.name" autofocus> <div>
    <div> Address:      <input id="homeAddress" placeholder="Home Address" type="text" ng-model="form.homeAddress"> </div>
    <div> Work Address  <input id="workAddress" placeholder="Work Address" type="text" ng-model="form.workAddress"> </div>
    <div> Carpool Range <input id="range" placeholder="in mile" type="text" ng-model="form.range"> </div>
    <input type="button" ng-click="submitDataToServer(form)" value="Submit">
    <!-- <input type="submit" value="Submit"> -->
  </form>
</div>