<div>
  <div ng-if="$ctrl.user">
    <span> Hi {{$ctrl.user.username}}!</span>
    <button ng-click="$ctrl.logout()" value="loginInfo"> Logout </button>
  </div>
  <div ng-if="!$ctrl.user">
    <!-- <span> LogIn </span> -->
    <form class="floatRight" name="login">
      <div ng-if="$ctrl.error.general"> {{$ctrl.error.general}} </div>
      <div>
          <label >Username:</label>
          <input ng-model='$ctrl.loginInfo.username' type="text" name="username"/>
          <div ng-if="$ctrl.error.username"> Invalid Username: {{$ctrl.error.username}} </div>
          <!-- <input ng-model='email' type="email" name="email"/>
          <span ng-show="login.myAddress.$error.email">Not a valid e-mail address</span> -->
      </div>
      <div>
          <label >Password:</label>
          <input ng-model='$ctrl.loginInfo.password' type="password" name="password"/>
          <div ng-if="$ctrl.error.password"> Invalid Password: {{$ctrl.error.password}} </div>
      </div>
      <div>
          <button ng-click="$ctrl.login($ctrl.loginInfo)"  value="Log In"> Login </button>
          <button ng-click="$ctrl.create($ctrl.loginInfo)" value="Create">Create </button>
      </div>
    </form>

  </div>
</div>

